<p>Nombre del autor: Ricardo García Llenderrozos.</p> <br>
<p>Tema de la página: Curso MiriadaX "Desarrollo de servicios en la nube con HTML5, Javascript y node.js" </p>
<br>
<div><img src="images/author.jpg" alt="Imagen Autor" style="width:104px;height:208px;"></div>

